@font-face {
  font-family: "Gotham";
  src: url("/fonts/gotham_book-webfont.eot");
  src: local("☺"),
    url("/assets/fonts/gotham_book-webfont.woff") format("woff"),
    url("/assets/fonts/gotham_book-webfont.ttf") format("truetype"),
    url("/assets/fonts/gotham_book-webfont.svg#filename") format("svg");
}

html {
    width: 1024px;
    height: 768px;
    margin: auto;
    padding: 0px;
    overflow: hidden;
    background-color: #CCCCCC;
}
body {
    background: #fff;
    padding-top: 0px;
    padding-bottom: 0px;
    height: 100%;
    font-family: "Century Gothic", sans-serif;
    color: #e6e6e6;
    font-size: 14px;
    padding: 0px;
    margin: 0px;
}

a {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.no-pointers {
    pointer-events: none;
}

.auto-pointers {
    pointer-events: auto;
}

a:link {
    color: #e6e6e6;
    text-decoration: none;
}

a:visited {
    color: #e6e6e6;
    text-decoration: none;
}

a:hover, a:active {
    color: #ed2736;
    text-decoration: underline;
}

a.active-link {
    color: #ed2736;
    text-decoration: underline;
}

.content {
    width: 1024px;
    height: 768px;
    position: absolute;
    top: 0px;
}

.header-panel {
    width: 1024px;
    position: relative;
    top: 0px;
    background-color: #333333;
    padding: 5px 25px 25px 25px;
    box-shadow: 0px 15px 15px -5px rgba(116, 125, 150, 0.5);
    margin-bottom: 40px;
}

.header-label {
    font-family: "Gotham", sans-serif;
    color: #fff;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.header-label-text {
    margin-top: 13px;
}

.header-label-image {
    margin-top: -13px;
}

.small {
    -ms-transform: scale(0.5,0.5);
    -webkit-transform: scale(0.5,0.5);
    transform: scale(0.5,0.5);
    margin-bottom: 10px;
    margin-left: -320px;
    margin-top: -15px;
}

.header-info {
    margin-bottom: 65px;
}

#mapContainer {
    height: 100%;
    width: 100%;
}

#map {
    height: 100%;
    width: 100%;
    border: 1px solid #e8e9ea;
    box-shadow: 0px 2px 2px #93979d;
}

.links{
    list-style-type: none;
    margin: 0;
}

.links li {
    text-align: center;
    width: 23%;
    display: inline-block;
    font-size: 18px;
}

.close-button {
    top: 15px;
    right: 15px;
    position: absolute;
    height: 28px;
    width: 28px;
    border: 2px solid #e6e6e6;
    border-radius: 4px;
    cursor: pointer;
}

.close-button-icon-left {
    top: 10px;
    left: 3px;
    position: relative;
    width: 10px;
    border-top: 2px solid #e6e6e6;
    -moz-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
}
.close-button-icon-right {
    top: 8px;
    left: 11px;
    position: relative;
    width: 10px;
    border-top: 2px solid #e6e6e6;
    -moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
}

.invert {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.info-panel {
    display: none;
    position: relative;
    padding: 10px;
    width: 291px;
    height: 563px;
    background-color: #333333;
    border-radius: 4px;
    box-shadow: 0px 15px 15px -5px rgba(116, 125, 150, 0.5);
    margin-left: 25px;
}

.large {
    width: auto;
    margin-right: 25px;
}

.bubble-callout {
    border-radius: 4px;
    background-color: #fff;
    padding: 5px;
    color: #656565;
}

.callout-anchor {
    position: relative;
    left: 30px;
    top: -2px;
}

.doc-info {
    position: relative;
    top: -10px;
}

.doc-info-image {
    float: left;
}

.info-small {
    margin-top: 10px;
    margin-left: 100px;
    font-size: 12px;
}

.info-content {
    margin: 10px 10px 10px 20px;
    letter-spacing: 2px;
}

.info-title {
    font-size: 22px;
}

.info-sub-title {
    margin-bottom: 4px;
}

.health {
    color: #eb1d2a;
    margin-bottom: 7px;
}

.health-line {
    height: 6px;
    display: inline-block;
    border-top: 2px solid #eb1d2a;
    margin-right: 5px;
}

.infographic {
    border-bottom: 1px solid #e6e6e6;
}

.infographic img{
    margin-top: 15px;
    float: right;
}

.infographic-text{
    width: 180px;
}

.info-list {
    padding-left: 25px;
    overflow-y: hidden;
}

.info-list li{
    padding-left: 10px;
}

.info-list li .list-line{
    border-bottom: 1px solid #e6e6e6;
    margin: 7px 0px 7px -20px;
}

.info-list li:last-child .list-line{
    border-bottom: none;
}

.vehicles li{
    padding-bottom: 7px;
}

.advance-list {
    cursor: pointer;
}

.worst-roads {
    font-size: 16px;
}

.worst-roads li{
    padding-left: 15px;
    padding-bottom: 25px;
}

.deep-padding {
    padding-bottom: 35px;
}

.offender {
    padding-bottom: 7px;
}

.suggestion {
    color: #6eba5a;
    padding-left: 5px;
    font-size: 14px;
}

.no-alternates {
    color: #eb1d2a;
}

.modal-text {
    color: #333333;
    padding-bottom: 7px;
}